{% load static %}
<!-- Footer Start -->
<div class="container-fluid bg-dark footer py-5">
    <div class="container py-2">
        <div class="row g-5">
            <div class="col-lg-6 col-xl-3">
                <div class="footer-item-1">
                    <h4 class="mb-4 text-white">Get In Touch</h4>
                    <p class="text-secondary line-h">Address: <span class="text-white">736-7, Yeoksam, Gangnam</span></p>
                    <p class="text-secondary line-h">Email: <span class="text-white">koreais@koreaedugroup.com</span></p>
                    <p class="text-secondary line-h">Phone: <span class="text-white">1588-5890</span></p>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="footer-item-2">
                    <div class="d-flex flex-column mb-4">
                        <h4 class="mb-4 text-white">Blog poster</h4>
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle border border-2 border-primary overflow-hidden">
                                <img src="{% static 'common/images/poster-1.png' %}" class="img-zoomin img-fluid rounded-circle" alt="">
                            </div>
                            <div class="d-flex flex-column ps-4">
                                <p class="text-uppercase text-white mb-3 fw-semibold">주용규</p>
                                <p class="h6 text-white">
                                    Java 경력 1.5년<br>현재 python 학습중
                                </p>
                                <small class="text-white d-block"><i class="fas fa-calendar-alt me-1"></i> Sep 1, 2021</small>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex align-items-center">
                            <div class="rounded-circle border border-2 border-primary overflow-hidden">
                                <img src="{% static 'common/images/poster-2.png' %}" class="img-zoomin img-fluid rounded-circle" alt="">
                            </div>
                            <div class="d-flex flex-column ps-4">
                                <p class="text-uppercase text-white mb-3 fw-semibold">황인서</p>
                                <p class="h6 text-white">
                                    디자인 능력 보유<br>현재 python 학습중
                                </p>
                                <small class="text-white d-block"><i class="fas fa-calendar-alt me-1"></i> Oct 26, 2023</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="d-flex flex-column text-start footer-item-3">
                    <h4 class="mb-4 text-white">Categories</h4>
                    <a class="btn-link text-white" href="/trend/trend/"><i class="fas fa-angle-right text-white me-2"></i> AI Trend</a>
                    <a class="btn-link text-white" href="/blog/category/ai-이미지-생성/"><i class="fas fa-angle-right text-white me-2"></i> AI image creation</a>
                    <a class="btn-link text-white" href="/blog/category/no_category/"><i class="fas fa-angle-right text-white me-2"></i> Tips for using AI </a>
                    <a class="btn-link text-white" href="/ai_pg/"><i class="fas fa-angle-right text-white me-2"></i> AI Program Introduction</a>
                    <a class="btn-link text-white" href="/ai_pg/ai_sld/"><i class="fas fa-angle-right text-white me-2"></i> Python Study Review</a>
                </div>
            </div>
            <div class="col-lg-6 col-xl-3">
                <div class="footer-item-4">
                    <h4 class="mb-4 text-white">Reference site</h4>
                    <div class="row g-2">
                        <div class="col-6">
                            <div class="rounded overflow-hidden">
                                <a href="https://www.youtube.com/@mcodeM" target="_blank">
                                    <img src="{% static 'common/images/footer-1.jpg' %}" class="img-zoomin img-fluid rounded w-100" alt="">
                                </a>
                            </div>
                       </div>
                       <div class="col-6">
                            <div class="rounded overflow-hidden">
                                <a href="https://www.youtube.com/@ChrissSong" target="_blank">
                                    <img src="{% static 'common/images/footer-2.jpg' %}" class="img-zoomin img-fluid rounded w-100" alt="">
                                </a>
                            </div>
                       </div>
                        <div class="col-6">
                            <div class="rounded overflow-hidden">
                                <a href="https://www.youtube.com/@jocoding" target="_blank">
                                    <img src="{% static 'common/images/footer-3.jpg' %}" class="img-zoomin img-fluid rounded w-100" alt="">
                                </a>
                            </div>
                       </div>
                        <div class="col-6">
                            <div class="rounded overflow-hidden">
                                <a href="https://www.youtube.com/@softdragon" target="_blank">
                                    <img src="{% static 'common/images/footer-4.jpg' %}" class="img-zoomin img-fluid rounded w-100" alt="">
                                </a>
                            </div>
                       </div>
                   </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- Copyright Start -->
<div class="container-fluid copyright bg-dark py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>GEASS</a>, All right reserved.</span>
            </div>
            <div class="col-md-6 my-auto text-center text-md-end text-white">
                Designed By <span class="border-bottom">HIS</span> Distributed By <a href="https://gangnam.koreaisacademy.com/" target="_blank">Korea IT</a>
            </div>
        </div>
    </div>
</div>
<!-- Copyright End -->

<!-- Back to Top -->
<a href="#" class="btn btn-primary border-2 border-white rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>